body {
	margin:0;
	color:#edf3ff;
	background:#c8c8c8;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
	border: 2px solid black;
	padding: 25px;
	background-repeat: no-repeat;
	background-size: cover;
}

.mb-3{
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
	font-size: 15px;
  font-weight: bold;
}
.form-container{
  border: 0 solid;
  border-width: thin;
  border-color: #94d0cc;
  padding: 30px 50px;
  margin-top: 20vh;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);

}
.form-text{
  color: #eeeeee;
  font-size: 10px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  text-shadow: 10px;
  text-align: center;
  color: #000000;
}
hr{
  border-style: dotted;
  border-width: thick;
  border-bottom: none;

}
.form-label{
   font-family:"Montserrat-Black";
   color: #252525;
   font-weight: normal;
   font-size: 20px;
}
